<section class="validation-messages">
    <div [className]="{
            'short':'message message--short',
            'clear':'message message--clear',
            'easy':'message message--easy',
            'medium':'message message--medium',
            'strong':'message message--strong'
        }
        [passwordStrength]
    "></div>
    <div [className]="{
            'short':'message message--short',
            'clear':'message message--clear',
            'easy':'message message--easy',
            'medium':'message message--medium',
            'strong':'message message--strong'
        }
        [passwordStrength]
    "></div>
    <div [className]="{
            'short':'message message--short',
            'clear':'message message--clear',
            'easy':'message message--easy',
            'medium':'message message--medium',
            'strong':'message message--strong'
        }
        [passwordStrength]
    "></div>
</section>