.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: none;
  overflow: visible;
  margin: 15px 0;
  width: 255px;
  &:focus-within {
    box-shadow: 0 0 10px rgba(105, 60, 230, 0.3);
  }
  &:focus-visible {
    outline: none;
  }
  .btn {
    border: none;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  .input {
    background-color: #eee;
    border: none;
    height: 35px;
    border-radius: 12px;
    width: 100%;
    padding: 0 10px;
    &:focus-visible {
      outline: none;
    }
  }
}