<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<main class="main">
  <div class="password-component">
    <h2 class="header">Please, enter the password!</h2>
    <app-input (inputChange)="handleInputChange($event)"></app-input>
    <app-sections [passwordStrength]="passwordStrength"></app-sections>
  </div>
</main>

<router-outlet></router-outlet>